@for(item of inputListItems; track item._id) {
<label class="input-label-text" [for]="item._id">
  <input
    type="checkbox"
    #inputCheckbox
    [checked]="item.checked"
    (input)="updateItemCheckbox(item._id, inputCheckbox.checked)"
  />
  <input
    type="text"
    #inputValue
    [id]="item._id"
    [value]="item.value"
    placeholder="Adicione um valor"
    autofocus
    (input)="updateItemText(item._id, inputValue.value)"
  />

  <button class="btn btn-danger-circle" title="Deletar item" (click)="deleteItem(item._id)"></button>
</label>
}
